/***************Limpar formatações padrão*************/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #fff url(../Assets/fundo.png) repeat-x;
}

/*****************/


#container {
    width: 750px;
    margin: 0 auto;
}

/**************** Cabeçalho *****************/

#topo {
    padding-top: 25px;
    height: 150px;
    background: url(../Assets/detalhe-topo.png) no-repeat right top;
}

#cabeçalho {
    
    margin: 0 auto;
}


.logo {
    width: 152px;
    height: 66px;
    background: url(../Assets/logo.png) no-repeat center;
    /* Porque utilizar um h1 para inserir o log?
    Essa estrategia é uma questão de acessibilidade, 
    pois caso você defina uma imagem diretamente no html, leitores
    de tela, não irão ler sua imagem. E caso também seu css não seja
    carregado, você tera um conteudo para exibir.*/


    text-indent: -3000px;
    /* Para ocutar as palavras que sobrepoem a logo, você poderia utilizar
    um display none, mas essa não seria uma solução eficaz, pois, os motores
    dos sistemas de busca, como google e bing, podem se questionar
    o porque de você estar escondendo conteudos dos usuarios. 
    Esconder conteudos nunca é uma boa pratica.*/
}



/*********** NAVEGAÇÃO ************/
a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#topo ul {
    /* Seletor descentendete, pois temos mais de uma
    ul no site, então precisamos referenciar em qual delas
    vamos aplicar formatações.*/

    background: #b10333;
    margin-top: 30px;
    float: left;
    /*para que o background não se perca
    em um fluxo diferente do li*/
}

#topo ul li {
    float: left;
}

#topo ul a {
    padding: 0.5em 1.5em;
    font-size: 0.9em;
    display: block;
    text-decoration: none;
    line-height: 2.1em;
    color: #fff;
    background: url(../Assets/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
    background: none;
}

#topo ul a:hover {
    color: #69101d;
}

body.home #navegação a#home,
body.Brasil #navegação a#Brasil,
body.Internacional #navegação a#Internacional,
body.Economia #navegação a#Economia,
body.saude #navegação a#Saúde,
body.ciencia #navegação a#Ciencia,
body.fotos #navegação a#Fotos {
    /* Selecionamos a classe home aplicada ao body,
    apos isso selecionamos o id navegação*/
    color: #fff;
    background: #de003e;
    cursor: text;
}

/************ Configurar layout de três colunas ************/
#conteudo {
    /* Para tirar os conteudos de dentro do topo da pagina. */
    margin-top: 60px;
    background: #f5f5f5;
}


#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
    /* Sabemos que o nosso container tem 750px
    E queremos colocar a barra lateral na lateral esquerda, 
    colada ao lado do container. Então colocamos uma margin com
    o valor do container, para poder colar a navegação lateral
    aonde queremos. */
}

#lateral ul a:hover {
    background: #f9f9f9 url(../Assets/marcador.png) no-repeat left center;
    padding-left: 20px;
    /* Faz o efeito de afastamento quando passamos o mouse por cima.*/
    color: #a1a1a1;
}



/* Divir cada coluna com tamanhos proporcionais ao total
que definimos em container (750px), a medida que 
a largura de todas as colunas somadas, deem um valor que ainda
sobre alguns pixels (cerca de 20/30px) 
para os espaçamentos laterais. */

#primario {
    width: 270px;
    float: left;
    margin: 0 0 27px 195px;
        /* Essa margin final, foi definida
    para que o conteudo primario desse espaço
    para o conteudo lateral se encaixar a esquerda do site.
    E também já foi contando com o espaçamento lateral de 15px
    pois no espaçamento de cada conteudo definimos um valor
    que ao somados, sobre 30px do valor total do container geral.
    Ou seja, esses 30px ficam para espaçamento lateral entre as colunas
    e como temos 3 colunas, preciamos de dois espaçamentos. (cada um de 15px)
    */
}


#duas-colunas #primario {
    width: 555px;
    /* 555+15px(espaçamento)+180px(nav.lateral)=750px */
}

#uma-colunas #primario {
    width: 750px;
    margin: 0 0 20px 0px;
}

#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
    /* Para posicionar esse menu, temos de 
    aplicar apenas a distancia lateral que deixamos 
    no container, pois o conteudo secundario já esta em seu 
    respectivo lado desejado, falta apenas a distancia entre
    os demais layouts.*/
}

/************* CAIXA ******************/
.caixa {
    margin: 10px 0;
    padding: 5px;
    /*Esse espaçamento é importante para quando estivermos
    trabalhando com outras caixas. Pois elas tem um espaçamento
    entre elas.*/
    background: #f3f3f3 url(../Assets/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
}

.caixa-conteudo { 
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}



/********* Formatar menus laterais **********/
#lateral ul a {
    font-size: 0.9;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    color: #a1a1a1;
}

/************ Formulários *************/
label {
    display: block;
    cursor: pointer;
}

input {
    width: 155px;
    padding: 5px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 5px;
}

/************ Formatação de imagens *************/
/* O Ideal é que você utilize seletores universais
para definir formatações padrões e depois utilize
classes para diferenciar as formatações uma das outras.*/
img {
    border: 2px solid #dfdfdf;
}

img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

/***************** Formatação de cabeçalhos ******************/
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    /* Desta maneira eu utilizo apenas uma class e formatar todos os h3.
    */
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #de003e;
}

/************* Formatação listas *************/
#listas-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#listas-noticias li a img {
    float: left;
    margin: 5px;
}

#listas-noticias li a {
    text-decoration: none;
}

#listas-noticias li a h3 {
    font-size: 0.8em;
    padding: 0px;
    color: #3e7ab9;
}

#listas-noticias li a p {
    font-size: 0.7em;
    color: #000;
}

#listas-noticias li:hover {
    /* Dete modo definimos um estado
    hover para um elemento li inteiro,
    não somente a um link.*/
    background: #eee;
    cursor: pointer;
}


/******************* RODA-PE *************/
#container-rodape {
    background: #294c71;
    padding: 20px;
}

#rodape {
    width: 750px;
    margin: 0 auto ;
    color: #fff;
    text-align: center;
}